@media screen and (min-width: 1920px){
    .button{
        height: 50px;
    }
    .footer_wrapper{
        height: 250px;
    }
}
@media screen and (max-width: 1920px){
    footer div p{
        font-size: 52pt;
        margin-top: 30px;
    }
    .footer_wrapper{
        margin-top: 20px;
    }
}
@media screen and (max-width: 1024px){
    main{
        height: 540px;
    }
    .round{
        font-size: 40pt;
        transform: translateY(-40px);
    }
    .winner h2{
        font-size: 35pt;
        text-align: center;
    }
    .winner h3{
        font-size: 25pt;
        text-align: center;
    }
    ul{
        padding-left: 0;
    }
    .footer_wrapper {
        margin-top: 50px;
    }
    .rock img, .scissors img{
        width: 80px;
        height: 120px;
    }
    .scissors img{
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .paper img{
        width: 100px;
        height: 120px;
    }
    footer div p{
        font-size: 46pt;
    }
}
@media screen and (max-width: 828px){
    main{
        flex-direction: column;
        height: 940px;
    }
    .menu{
        width: 100%;
        flex-direction: row;
        justify-items: center;
        justify-content: space-evenly;
        margin: 15px 0;
    }
    .button {
        width: 23%;
    }
    .best_players{
        width: 100%;
    }
    .best_players div{
        flex-direction: row;
        margin: 0;

    }
    .game_wrapper{
        width: 100%;
    }
    .footer_wrapper {
        margin-top: 55px;
    }
    footer div p{
        font-size: 30pt;
    }
}
@media screen and (max-width: 414px){
    .winner{
        margin: 150px 0;
    }
    .game{
        flex-direction: column;
    }
    .footer_wrapper{
        margin-top: 850px;
    }
    .player_1, .player_2 {
        width: 50%;
    }
    .best_players{
        margin: 0;
    }
    .rock img, .scissors img{
        width: 50px;
        height: 90px;
    }
    .paper img{
        width: 60px;
        height: 80px;
    }
    footer div p {
        font-size: 20pt;
    }
    .button h3 {
        font-size: 12pt;
    }
    .scissors p{
        transform: translateY(-5.5px);
    }
    .rock p{
        transform: translateY(-3px);
    }
}
